#translations-table tbody tr {
    cursor: pointer;
}
.custom_margin_left_5 {
    margin-left: 5px;
}
.custom_text {
    cursor: pointer;
}
.margin-left {
    margin-left: 10px;
}
.glyph-custom {
    color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}
.glyf-success-custom {
    background-color: #07eb40;
}
.glyf-danger-custom {
    background-color: #ff0000;
}
.dataTables_wrapper {
    background-color: #efefef;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px #d2d2d2;
    margin: 20px 0;
    border-top: 3px solid #d2d6de;
}
div.dataTables_wrapper div.dataTables_length select {
    border-radius: 4px;
}
.form-control:focus {
    border-color: transparent;
    box-shadow: none;
}
div.dataTables_wrapper div.dataTables_filter input {
    border-radius: 4px;
}
.nav-tabs-custom {
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 0 5px #d2d2d2;
    border-radius: 3px;
}
.box {
    box-shadow: 0 0 5px #d2d2d2;
}
.form-control {
    border-radius: 4px;
}
.modal-header {
    overflow: hidden;
}
.modal-header .modal-title {
    float: left;
}
.modal-footer .btn {
    background-color: transparent;
    border: 1px solid #fafafa;
    border-radius: 2px;
}
.modal-footer .btn.focus,
.modal-footer .btn:focus,
.modal-footer .btn:hover {
    color: #fafafa;
    text-decoration: none;
}
.modal-header .close {
    font-size: 16px;
}

.p0 {
    padding: 0 !important;
}
.p15 {
    padding: 15px;
}
.mt15 {
    margin-top: 15px;
}
.tr-style {
    background-color: #3c8dbc;
    color: #ffffff;
    font-weight: 700;
}
.table-style tbody tr:hover:not(.tr-style) {
    transition: 0.3s ease;
    background-color: #3c8dbc38;
}
.get_input_value {
    outline: none;
    padding: 2px 3px;
    color: #ffffff;
    background-color: #3c8dbc;
    border-radius: 3px;
    border: 1px solid #000000;
    font-weight: 700;
}
.token.atrule,
.token.attr-value,
.token.keyword {
    color: #07a;
}
.alert-messages {
    position: absolute;
    z-index: 9999;
    left: 36%;
    width: 40%;
    box-shadow: -9px 19px 18px #888888ab;
}
.main-header nav .navbar-custom-menu {
    display: flex;
    align-items: center;
}
.main-header nav .navbar-custom-menu #flag-select {
    width: auto;
    float: left;
    margin-right: 5px;
}

/*admin store settings*/
.tab-content-store-settings {
    padding-top: 30px;
}

.bg-my-light-blue {
    background: #adc7d6;
}

.bg-my-light-pink {
    background: #ebd7e1;
}

.table--store-settings {
    background: #f9f9f9;
}

.table--store-settings_input-inline {
    display: inline-block;
    width: auto;
}

.table.table--store-settings td,
.table.table--store-settings th {
    border: 1px solid #ddd;
    vertical-align: middle;
}

.table.table--store-settings .btn,
.table.table--store-settings .btn {
    min-width: 34px;
}

.table.table--store-settings .table--store-settings_vert-top {
    vertical-align: top;
}

.table--store-settings_add-options {
    cursor: pointer;
}

/*End admin store settings*/

/*create Email Templates*/
.table--email-temp {
    border: 1px solid #367fa9;
    border-collapse: unset;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}
.table.table--email-temp th,
.table.table--email-temp td {
    border: 0;
}

.table--email-temp_top {
    background: #367fa9;
    color: #fff;
}

.table--email-temp_bottom {
    background: #d9edf7;
}

.table--email-temp_icon {
    color: #38b69a;
    font-size: 18px;
    font-weight: bold;
}
/*End create Email Templates*/

/*new shipping zone*/
.panel-body--new-shipping-zone .form-control:focus {
    border-color: #3c8dbc;
}
/*End new shipping zone*/

/*admin orders*/
.table--order-dtls {
    background: #fff;
}

.table.table--order-dtls.table-bordered tr > td,
table.table--order-dtls.table-bordered tr > th {
    border-color: #ddd;
}
.table--see-order .half-col {
    width: 50%;
}

.order-notes .head {
    justify-content: space-between;
    border-bottom: 1px solid gainsboro;
    padding-top: 10px;
}
.order-notes p {
    font-size: 14px;
}
.order-notes span {
    font-size: 12px;
}

.order-notes .status,
.order-notes1 .status {
    position: relative;
}
/*.order-notes .status:before,*/
/*.order-notes .status1:before {*/
/*content: "";*/
/*position: absolute;*/
/*top: 100%;*/
/*left: 24px;*/
/*width: 0;*/
/*height: 0;*/
/*border-style: solid;*/
/*border-width: 18px 9px 0 9px;*/
/*border-color: #f1efef transparent transparent transparent;*/
/*}*/


.order-notes {
    padding: 10px;
}
.order-notes .added span {
    text-decoration: underline dashed;
}
.order-notes .added button {
    background: none;
    border: none;
    color: red;
    text-decoration: underline;
}
.order-notes .added button:hover {
    background: none !important;
    border: none !important;
    color: red !important;
    text-decoration: underline !important;
}
.order-notes .added button:focus {
    box-shadow: none !important;
}
.order-notes .status {
    background-color: #f1efef;
    border-radius: 3px;
    padding: 8px;
    line-height: 1.3;
    margin-bottom: 20px;
}
.order-notes .status1 {
    position: relative;
}

.order-notes .status1 em:hover {
    color: #2e9eca;
    text-decoration: underline;
}
.order-notes .add-note {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 5px;
    padding-left: 5px;
}
.order-notes textarea {
    height: 100px;
    resize: none;
}
.order-notes textarea:focus {
    box-shadow: none !important;
}

.tabe-pane--edit-order .form-group {
    margin-bottom: 0;
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav-tabs.orderchanges-tabs li.active a,
.nav-tabs.orderchanges-tabs li:hover a {
    background: #3c8dbc;
    color: #fff;
}

.nav-tabs.orderchanges-tabs li:hover a {
    border-width: 1px;
}

.dropdown-inner {
    display: none;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.dropdown-inner.show-inner {
    display: block;
}

.my-dropdown {
    margin-right: 15px;
}

.my-dropdown:last-child {
    margin-right: 0;
}

.panel--orders-addresses .nav-addresses .nav-item:first-child {
    border-right: 1px solid #ddd;
}

.panel--orders-addresses .tab-content--addresses {
    min-height: 120px;
    padding: 0 5px;
}

.dropdown-close {
    cursor: pointer;
}


/*End admin orders*/

.file-caption-main {
    display: none !important;
}

.order-main-cnt_right-col {
    border-left: 2px solid #ddd;
    min-height: 868px;
    overflow: auto
}

.order-main-cnt_control-btns {
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 30px;
}

.order-main-cnt_control-btns .dropdown-inner {
    background: #fff;
    position: absolute;
    z-index: 999;
    width: 100%;
    padding: 15px 10px;
    box-shadow: 0 0 6px #848080;
}


.order-main-cnt .form-group {
    overflow: hidden;
}

.order-main-cnt_control-btns .dropdown-inner .confirm-btn-outer {
    border-top: 1px solid #eee;
    padding-top: 10px;
}

.order-main-cnt_control-btns .dropdown-inner .dropdown-heading {
    margin:0 0 10px;
}

.order-main-cnt_control-btns .dropdown-inner textarea {
    width: 100%;
    resize: none;
}

.order-notes {
    height: 800px;
    overflow: auto;
}

.order-notes_message {
    background: #f1efef;
    padding: 10px;
    margin-bottom: 15px;
}

.order-notes_message .underlined {
    text-decoration: underline;
}

.order-notes_message .text-bold {
    font-weight: bold;
}

.order-notes_message-status-1 {
    border-left: 5px solid green;
}

.order-notes_message-status-2 {
    border-left: 5px solid #ad0000;
}


/*End admin orders*/



/*admin global styles*/
.modal-backdrop {
    background-color: transparent !important;
}

.form-control:focus {
    border-color: #d2d6de;
}

textarea {
    resize: none;
}

.w-100 {
    width: 100%;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-0 {
    margin-bottom: 0;
}

.m-0 {
    margin: 0;
}

.mr-10 {
    margin-right: 10px;
}

.mb-25 {
    margin-bottom: 25px;
}

.pt-25 {
    padding-top: 25px;
}

.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block
}

.bestbetter-modal {
    padding: 20px 0;
}


.bestbetter-modal-open input {
    text-align: center;
    text-transform: capitalize;
}

.btn-primary-reset-back {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-primary-reset-back:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

/*End admin global styles*/

/*admin media page */
.file .file-name {
    word-wrap: break-word;
}
/*End admin media page */

/*admin roles page*/
.treeview .list-group {
    max-height: 600px;
    overflow-y: auto;
}
/*End admin roles page*/





