body{
    font-size: 14px;
}
.main-header .sidebar-toggle{
    align-self: stretch;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.main-header nav .navbar-custom-menu{
    align-self: stretch;
}
.main-header nav .navbar-custom-menu .navbar-nav{
    height: 100%;
}
.main-header nav .navbar-custom-menu .navbar-nav .user-menu,.main-header .user-menu .dropdown-toggle{
    height: 100%;
    display: flex;
    align-items: center;
}
.main-header .user-menu .dropdown-toggle{
    padding:0 15px;
}
.main-header .user-menu .dropdown-toggle:after{
    display: none;
}
.main-header .user-menu .dropdown-menu{
    margin: 0;
}
.main-header .navbar{
    padding: 0;
}
.profile-header .profile-header-tab > li.dropdown{
    margin-left: auto;
}
.profile-header .profile-header-tab{
    position: absolute;
    left: 0;
    right: 0;
}
.users-table--td-btn{
    align-items: center;
}
.users-table--td-btn a {
    display: flex;
    align-items: center;
}
.badge >i{
    color: #ffffff;
}
.comment--body table tbody tr td:last-of-type a{
    margin-bottom: 2px;
    width: 100%;
}
.comment--body table tbody tr td:last-of-type a>i{
  color: #ffffff;
}
.comment--body .badge.comment-count{
    background-color: black;
    color: #fff;
}
#posts-table .badge{
    color: #ffffff;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.btn.btn-warning{
    color: #ffffff;
}
label {
    font-weight: 700;
}
.notification--body .copy-message{
    margin-right: 5px;
}
.hidden {
    display: none!important;
}
.social-media-group .input-group{
    margin-bottom: 0;
}
.table--holidays .input-group .input-group-addon{
    margin-bottom: 0;
    height: auto;
}
.payment_gateways_tab .list_paymant .item .chek-title .title{
    margin-bottom: 0;
}
.payment_gateways_tab .list_paymant .item .chek-title{
    align-items: center;
}
.bread-crumbs .bread-crumbs-list{
    margin-bottom: 0;
}
.bread-crumbs .bread-crumbs-list li.active a{
color: #00c0ef !important;
}
.adminmodal .modal-dialog{
    max-width: 100%;
    pointer-events: inherit;
}
.modal-stickers--list > li{
    color: #ffffff;
}
.table--store-settings .select2-container--default .select2-selection--multiple .select2-selection__rendered li{
    color: #000000;
}
.flex--none{
    flex: none;
}
.releted-products-add-modal .add-attribute-event{
    color: #ffffff !important;
}
.tickets-edit-page .comment .btn{
    padding: 5px 10px;
    font-size: 16px;
}
.tickets-edit-page .comments_wall .admin_updated .image:after{
    color: #000000;
}
.tickets-edit-page .comments_wall .admin_updated .label-default{
    color: #000000;
}
.bestbetter-modal .modal-lg{
    max-width: 80%;
}
.bestbetter-modal .modal_img_container .file-name{
    display: flex;
}
.bestbetter-modal .modal_img_container .file-name .file-title{
    margin-left: 3px;
}
.media_right_content .folderitems .dropdown-toggle:after,.file-manager .dropdown-toggle:after {
    display: none;
}
.btn {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: 0.55rem 1.14rem;
    font-size: .81rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
}
.btn-primary {
    background-color: #4285f4!important;
    color: #fff;
}
.btn-primary:hover {
    background-color: #5a95f5;
    color: #fff;
    border-color: #0062cc;
}
.btn:active, .btn:focus, .btn:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    outline: 0;
}
/*danger btn*/
.btn-danger {
    background-color: #ff3547!important;
    color: #fff;
}
.btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}
.btn-info {
    background-color: #33b5e5!important;
    color: #fff;
}
.btn-info:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}
.btn-warning {
    background-color: #fb3!important;
    color: #fff;
}
.btn-warning:hover {
    color: #fff;
    background-color: #e0a800;
    border-color: #d39e00;
}
.table .btn{
    padding: .4rem .9rem;
}
.btn-success {
    border-color: #186860;
    background-color: #2bbbad!important;
}
.btn-default:hover {
    background-color: #30cfc0;
    color: #fff;
}
.btn:focus{
    box-shadow: none !important;
    color: #fff;
}
.btn-default{
    color: #212529;
    background-color: #dae0e5;
    border-color: #d3d9df;
}
.btn-default:hover {
    background-color: #ededed;
    color: #000;
}
.select2-selection__choice{
    background-color: #a6c !important;
    color: #fff !important;
}
.select2-selection__choice__remove{
    color: #000 !important;
}
.pagination .page-item.active a{
    background-color: #a6c !important;
    border-color: #a6c !important;
}
.select2-container .select2-selection--single{
    height: 38px !important;
    padding: 2px 6px!important;
}
.select2-container--default .select2-selection--single{
    background-color: #fff!important;
    border: 1px solid #d2d6de!important;
    border-radius: 4px!important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 38px!important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 38px !important;
}
.card .card-header{
    color: #ffffff !important;
    background: #24C6DC!important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #514A9D, #24C6DC)!important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #514A9D, #24C6DC)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.main-header .logo{
    background-color: #514A9D !important;
}
.main-header .navbar{
    background: #24C6DC!important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #514A9D, #24C6DC)!important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #514A9D, #24C6DC) !important;/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.card .card-header .breadcrumb .breadcrumb-item a{
    color: #ffffff;
}
.card .card-header .breadcrumb .breadcrumb-item.active{
    color: #ffffffc7;
}
.card .card-header .breadcrumb .breadcrumb-item:before{
    color: #ffffff;
}
/*tabs style*/
.tabs-colors .nav-link{
    background-color: #4a5b64!important;
    color: #fff;
    border-radius: 0;
    border-bottom: 1px solid #fff;
    margin: 0;
    border-left: none;
}
.tabs-colors .nav-link.active, .tabs-colors .nav-link:hover{
    background-color: #323a4e!important;
    color: #ffffff;
}
#addressBook .modal-accounts .register-form_input-check{
    margin-left: 0;
}
#addressBook .modal-accounts .form-check-label{
    margin-left: 20px;
}