body {
    font-size: 14px;
}

.main-header .sidebar-toggle {
    align-self: stretch;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.main-header nav .navbar-custom-menu {
    align-self: stretch;
}

.main-header nav .navbar-custom-menu .navbar-nav {
    height: 100%;
}

.main-header nav .navbar-custom-menu .navbar-nav .user-menu, .main-header .user-menu .dropdown-toggle {
    height: 100%;
    display: flex;
    align-items: center;
}

.main-header .user-menu .dropdown-toggle {
    padding: 0 15px;
}

.main-header .user-menu .dropdown-toggle:after {
    display: none;
}

.main-header .user-menu .dropdown-menu {
    margin: 0;
}

.main-header .navbar {
    padding: 0;
}

.profile-header .profile-header-tab > li.dropdown {
    margin-left: auto;
}

.profile-header .profile-header-tab {
    position: absolute;
    left: 0;
    right: 0;
}

.users-table--td-btn {
    align-items: center;
}

.users-table--td-btn a {
    display: flex;
    align-items: center;
}

.badge > i {
    color: #ffffff;
}

.comment--body table tbody tr td:last-of-type a {
    margin-bottom: 2px;
    width: 100%;
}

.comment--body table tbody tr td:last-of-type a > i {
    color: #ffffff;
}

.comment--body .badge.comment-count {
    background-color: black;
    color: #fff;
}

#posts-table .badge {
    color: #ffffff;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.btn.btn-warning {
    color: #ffffff;
}

label {
    font-weight: 700;
}

.notification--body .copy-message {
    margin-right: 5px;
}

.hidden {
    display: none !important;
}

.social-media-group .input-group {
    margin-bottom: 0;
}

.table--holidays .input-group .input-group-addon {
    margin-bottom: 0;
    height: auto;
}

.payment_gateways_tab .list_paymant .item .chek-title .title {
    margin-bottom: 0;
}

.payment_gateways_tab .list_paymant .item .chek-title {
    align-items: center;
}

.bread-crumbs .bread-crumbs-list {
    margin-bottom: 0;
}

.bread-crumbs .bread-crumbs-list li.active a {
    color: #00c0ef !important;
}

.adminmodal .modal-dialog {
    max-width: 100%;
    pointer-events: inherit;
}

.modal-stickers--list > li {
    color: #ffffff;
}

.table--store-settings .select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    color: #000000;
}

.flex--none {
    flex: none;
}

.releted-products-add-modal .add-attribute-event {
    color: #ffffff !important;
}

.tickets-edit-page .comment .btn {
    padding: 5px 10px;
    font-size: 16px;
}

.tickets-edit-page .comments_wall .admin_updated .image:after {
    color: #000000;
}

.tickets-edit-page .comments_wall .admin_updated .label-default {
    color: #000000;
}

.bestbetter-modal .modal-lg {
    max-width: 80%;
}

.bestbetter-modal .modal_img_container .file-name {
    display: flex;
}

.bestbetter-modal .modal_img_container .file-name .file-title {
    margin-left: 3px;
}

.media_right_content .folderitems .dropdown-toggle:after, .file-manager .dropdown-toggle:after {
    display: none;
}

.btn {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    padding: 0.55rem 1.14rem;
    font-size: .81rem;
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
}

.btn-primary {
    background-color: #4285f4 !important;
    color: #fff;
}

.btn-primary:hover {
    background-color: #5a95f5;
    color: #fff;
    border-color: #0062cc;
}

.btn:active, .btn:focus, .btn:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    outline: 0;
}

/*danger btn*/
.btn-danger {
    background-color: #ff3547 !important;
    color: #fff;
}

.btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

.btn-info {
    background-color: #33b5e5 !important;
    color: #fff;
}

.btn-info:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}

.btn-warning {
    background-color: #fb3 !important;
    color: #fff;
}

.btn-warning:hover {
    color: #fff;
    background-color: #e0a800;
    border-color: #d39e00;
}

.table .btn {
    padding: .4rem .9rem;
}

.btn-success {
    border-color: #186860;
    background-color: #2bbbad !important;
}

.btn-default:hover {
    background-color: #30cfc0;
    color: #fff;
}

.btn:focus {
    box-shadow: none !important;
    color: #fff;
}

.btn-default {
    color: #212529;
    background-color: #dae0e5;
    border-color: #d3d9df;
}

.btn-default:hover {
    background-color: #ededed;
    color: #000;
}

.select2-selection__choice {
    background-color: #a6c !important;
    color: #fff !important;
}

.select2-selection__choice__remove {
    color: #000 !important;
}

.pagination .page-item.active a {
    background-color: #a6c !important;
    border-color: #a6c !important;
}

.select2-container .select2-selection--single {
    height: 38px !important;
    padding: 2px 6px !important;
}

.select2-container--default .select2-selection--single {
    background-color: #fff !important;
    border: 1px solid #d2d6de !important;
    border-radius: 4px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px !important;
}

.card .card-header {
    color: #ffffff !important;
    background: #24C6DC !important; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #514A9D, #24C6DC) !important; /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #514A9D, #24C6DC) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.main-header .logo {
    background-color: #514A9D !important;
}

.main-header .navbar {
    background: #24C6DC !important; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #514A9D, #24C6DC) !important; /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #514A9D, #24C6DC) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card .card-header .breadcrumb .breadcrumb-item a {
    color: #ffffff;
}

.card .card-header .breadcrumb .breadcrumb-item.active {
    color: #ffffffc7;
}

.card .card-header .breadcrumb .breadcrumb-item:before {
    color: #ffffff;
}

/*tabs style*/
.tabs-colors .nav-link {
    background-color: #4a5b64 !important;
    color: #fff;
    border-radius: 0;
    border-bottom: 1px solid #fff;
    margin: 0;
    border-left: none;
}

.tabs-colors .nav-link.active, .tabs-colors .nav-link:hover {
    background-color: #323a4e !important;
    color: #ffffff;
}

#addressBook .modal-accounts .register-form_input-check {
    margin-left: 0;
}

#addressBook .modal-accounts .form-check-label {
    margin-left: 20px;
}

.stickers--all--lists {
    margin-top: 10px;
}

.stickers--all--lists .option-elm-attributes > a {
    background: #3c8dbc;
    color: #fff;
    padding: 5px 10px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.order-summary-outer .shipping-payment .payment_methods.methods {
    margin: 0;
    padding: 0;
    list-style: none;
}

.order-summary-outer .shipping-payment .payment_method_paypal img {
    max-width: 100%;
}

/*modal media*/
.bestbetter-modal .modal {
    padding: 0 !important;
}

.bestbetter-modal .modal-dialog {
    max-width: 100% !important;
    width: 100% !important;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.bestbetter-modal .modal-header {
    border-radius: 0;
    box-shadow: none;
    background: #0f0c29; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bestbetter-modal .modal-header .close {
    font-size: 30px;
    align-self: center;
}

.bestbetter-modal .modal-content {
    flex: 1;
}

.bestbetter-modal .content {
    height: 100%;
    min-height: 100%;
}

.bestbetter-modal .content .left {
    min-height: 100%;
    height: 50px;
}

.bestbetter-modal .media_modal_right_content {
    min-height: 100%;
    height: 50px;
}

.bestbetter-modal .media_modal_right_content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

.bestbetter-modal .media_modal_right_content::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
}

.bestbetter-modal .media_modal_right_content::-webkit-scrollbar-thumb {
    background-color: #000000;
}

.bestbetter-modal .modal_img_container .file-box .file .icon {
    height: 140px;
}

.iconpicker-popover.fade {
    opacity: 1;
}

.bestbetter-modal .edit-featured-img-outer img {
    width: 100%;
}

#productsModal .option-elm-modal .add-attribute-event {
    color: #ffffff;
}

.setting_lang_panel_head .nav-item:hover .nav-link {
    color: #000000 !important;
}

#working-hours .btn, .table--holidays .btn {
    padding: 0.55rem 1.14rem;
}

/*items modal*/
#itemsModal.modal {
    padding: 0 !important;
}

#itemsModal .modal-dialog {
    max-width: 100% !important;
    width: 100% !important;
    margin: 0;
    height: 100%;
}
#itemsModal .modal-header,#itemsModal .modal-footer{
    flex: none;
}
#itemsModal .modal-header {
    border-radius: 0;
    box-shadow: none;
    background: #0f0c29; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #ffffff;
}

#itemsModal .modal-header .close {
    font-size: 30px;
    align-self: center;
    color: #ffffff;
}

#itemsModal .modal-content {
    height: 100%;
}

#itemsModal .modal-body {
    overflow: auto;
}

#itemsModal .modal-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

#itemsModal .modal-body::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
}

#itemsModal .modal-body::-webkit-scrollbar-thumb {
    background-color: #000000;
}
#itemsModal .single-item .img-item img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
#itemsModal .single-item .name-item{
    background-color: #000000;
    color: #ffffff;
    padding: 8px 10px;
    border-top: 1px solid #ffffff;
}
#itemsModal .single-item {
    box-shadow: 0 0 4px #777;
    border: 1px solid #fff;
    cursor: pointer;
}
#itemsModal .option-elm-modal.active .single-item{
    border: 1px solid #000000;
    box-shadow: 0px 0 4px 3px #f39c12;
}
.list-items--wrapper{
    margin: 0;
    padding: 0;
    list-style: none;
}
.list-items--wrapper .single-item{
    box-shadow: 0 1px 4px 1px #000;
    margin-bottom: 10px;

}
.list-items--wrapper .single-item .img-item img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.list-items--wrapper .single-item .name-item{
    background-color: #e2e2e2;
    color: #000000;
    padding: 8px 10px;
    border-top: 1px solid #ffffff;
}
.list-items--wrapper .single-item {
    box-shadow: 0 0 4px #777;
    border: 1px solid #fff;
    cursor: pointer;
}
#view-result .product-body{
    min-height: 250px;
}
.stock-page--head{
    padding: 0;
    height: 63px;
}
.stock-page--head .head-left{
    align-self: center;
}
.main-header_nav-middle{
    flex: 1;
}

.main-header_nav-middle .main-header_nav-middle-list .find-link{
    padding: 0 80px;
    align-self: center;
}
header.main-header .logo .logo-img{
    max-width: 100px;
    filter: brightness(5);
}
/*find page Start*/

.admin-find-wrapper .find-wrapper-results .card-img{
    height: 200px;
    object-fit: cover;
}
.admin-find-wrapper .find-wrapper-results .find-wrapper-results-content{
    max-height: 420px;
    overflow: auto;
}
/*find page End*/

#users_special-note .special-note-wall{
    min-height: 70px;
}
.search-attributes-scrolled{
    overflow: auto;
    max-height: 544px;
}
.search-attributes-scrolled>.row {
    margin: 0;
}
.form-group.row + .modal-stickers--list {
    flex-direction: column;
    height: 400px;
    overflow: auto;
    flex-wrap: nowrap !important;
}
.form-group.row + .modal-stickers--list > li a:first-of-type{
    flex: 1;
}
.releted-products-add-modal .all-list{
    flex-direction: column;
    height: 400px;
    overflow: auto;
    flex-wrap: nowrap !important;
}
.releted-products-add-modal .option-elm-modal a:first-of-type {
    flex: 1;
    background: #3c8dbc;
    color: #fff!important;
    padding: 5px 10px !important;
}
.releted-products-add-modal .option-elm-modal{
    flex: 0 !important;
    max-width: 100% !important;
    padding: 0 !important;
    min-height: auto !important;
}
.releted-products-add-modal .option-elm-modal > div{
    align-items: normal !important;
}
.faq-select-modal-list .list-group-item{
    border: none;
    padding: 0;
}
