body{
    font-size: 14px;
}
.main-header .sidebar-toggle{
    align-self: stretch;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.main-header .navbar{
    padding: 0;
}
.profile-header .profile-header-tab > li.dropdown{
    margin-left: auto;
}
.profile-header .profile-header-tab{
    position: absolute;
    left: 0;
    right: 0;
}
.users-table--td-btn{
    align-items: center;
}
.users-table--td-btn a {
    display: flex;
    align-items: center;
}
.badge >i{
    color: #ffffff;
}
.comment--body table tbody tr td:last-of-type a{
    margin-bottom: 2px;
    width: 100%;
}
.comment--body table tbody tr td:last-of-type a>i{
  color: #ffffff;
}
.comment--body .badge.comment-count{
    background-color: black;
    color: #fff;
}
#posts-table .badge{
    color: #ffffff;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.btn.btn-warning{
    color: #ffffff;
}
label {
    font-weight: 700;
}
.notification--body .copy-message{
    margin-right: 5px;
}
.hidden {
    display: none!important;
}
.social-media-group .input-group{
    margin-bottom: 0;
}
.table--holidays .input-group .input-group-addon{
    margin-bottom: 0;
    height: auto;
}
.payment_gateways_tab .list_paymant .item .chek-title .title{
    margin-bottom: 0;
}
.payment_gateways_tab .list_paymant .item .chek-title{
    align-items: center;
}
.bread-crumbs .bread-crumbs-list{
    margin-bottom: 0;
}
.bread-crumbs .bread-crumbs-list li.active a{
color: #00c0ef !important;
}