
.tabs-outer .img-outer {
    margin: 0 auto 10px;
    width: 100px;
}

.tabs-outer .img-outer img {
    border: 3px solid #d2d6de;
    border-radius: 50%;
    max-width: 100%
}

.tabs-top {
    background: #fff;
    box-shadow: 0 0 5px #d2d2d2;
    border-top: 3px solid #3c8dbc;
    border-bottom: 2px solid #424242;
    padding: 20px 0;
}

.nav.nav-tabs {
    display: block;
    margin-right: 20px;
    border-bottom:0;
    border-right: 1px solid #ddd;
    padding-right: 15px;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background: #ccc;
    padding: 10px 30px;
}

.nav-tabs .nav-link.active {
    color: #3c8dbc;
    background-color:#eee !important;
    border-color: transparent !important;
}

.nav-tabs .nav-link {
    color: #3c8dbc;
    background: #fff;
    border-bottom: 3px solid #eee;
    border-top-left-radius: 0rem!important;
    border-top-right-radius: 0rem!important;
}

.nav-tabs .nav-link:hover {
    background: #eee;
}

.tab-content>.active {
    box-shadow: 0 0 5px #d2d2d2;
    padding: 15px;
    display: block;
    background: #fff;
    height: 100%;
}

.tab-content {
    height: 100%;
}

.nav.nav-tabs {
    display: block;
    margin-right: 20px;
    border-bottom: 0;
    border-right: 1px solid transparent;
    padding-right: 0;
    width: 100%;
}