.comment-list-wrapper textarea {
    width: 100%;
    height: 50px;
    background-color: #ebeef4;
    border: 1px solid #d7d7d7;
    outline: none;
    font-size: 15px;
    padding-left: 15px;
    padding-top: 12px;
}

.comment-list-wrapper .button-comment {
    width: 100%;
    max-width: 270px;
}

.comment-list-wrapper .button-comment .btn {
    background-color: #5184e5;
    padding: 15px 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0;
    font-size: 17px;
    line-height: 1;
}

.comment-list-wrapper .button-comment .post-title {
    color: #ffffff;
    text-transform: uppercase;
    line-height: 1;
}

.comment-list-wrapper .button-comment-wrap {
    margin-top: 28px;
}
.comment-list-wrapper .thumbnail{
    width: 50px;
    height: 50px;
    background: #ebeef4;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}
.comment-list-wrapper .thumbnail img {
    width: auto;
    height: auto;
    object-fit: cover;
}

.comment-list-wrapper .comment-user {
    font-size: 17px;
    color: #353535;
    font-weight: bold;
    text-transform: uppercase;
}

.comment-list-wrapper .card.arrow.left {
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.comment-list-wrapper .card-body {
    padding: 0;
    flex: unset;
    margin-right: 44px;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
}

.comment-list-wrapper .comment-post {
    font-size: 15px;
    margin-top: 10px;
}

.comment-list-wrapper .btn.reply {
    background-color: #ebeef4;
    border-radius: 0;
    color: #5184e5;
    border: none;
    font-size: 15px;
    padding: 8px 18px;
    line-height: 1;
}

.comment-list-wrapper .comment-post p {
    margin-bottom: 0;
}

.comment-list-wrapper .user-commmet-add .card.arrow.left {
    flex-direction: column;
    align-items: baseline;
}

.comment-list-wrapper .user-commmet-add .button-repl .btn {
    padding: 13px 24px;
    background-color: #5184e5;
    border-radius: 0;
    border: none;
    color: #ffffff;
    line-height: 1;
    font-size: 15px;

}

.comment-list-wrapper .user-commmet-add .add-comment > form {
    display: flex;
}

.comment-list-wrapper .user-commmet-add .add-comment textarea {
    height: 41px;
    padding-top: 9px;
}

.comment-list-wrapper .user-add-comment-secondry {
    margin-top: 28px;
}

.comment-list-wrapper .user-add-comment-secondry .add-comment {
    max-width: 580px;
    display: inline-block;
    width: 100%;
    text-align: right;
}

.comment-list-wrapper .user-comment-img {
    margin-top: 48px;
    display: flex;
}

.comment-list-wrapper .user-comment-img.sub {
    position: relative;
    margin-left: 120px !important;
}

.comment-list-wrapper .user-comment-img.sub:before {
    content: "";
    background-image: url(/public/img/arrow-reply.svg);
    background-repeat: no-repeat;
    width: 18px;
    position: absolute;
    left: 0;
    top: 13px;
    height: 18px;
}

.comment-list-wrapper .left-photo {
    flex: none;
    padding-left: 15px;
}
.comment-list-wrapper .right-comments{
    flex: auto;
    padding: 0 15px 0 30px;
}
.comment-list-wrapper .user-imges{
    margin-right: 15px;
}
.comment-list-wrapper .user-imges img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.comment-list-wrapper .main-comment-wrap-img{
    display: flex;
}
.comment-list-wrapper .user-comment-img.sub .card-body{
    /*flex: inherit;*/
}
.comment-list-wrapper{
    background-color: #35353505;
    padding: 50px 20px;
    box-shadow: 0 0 6px #353535;
}