.list-tabs-head .tab-content .form-group {
    margin-top: 10px;
}

.list-tabs-head .tab-content .btn-save {
    margin-top: 10px;
}

.list-tabs-head .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-tabs-head .head #flag-select {
    width: auto;
}

.admin-profile-left {
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 2px solid #424242;
}

.admin-profile-left li a {
    display: block;
    background-color: #fff;
    border: 1px solid #EEEEEE;
    padding: 10px;
    font-size: 16px;
}

.mar-0 {
    margin: 0;
}

.tabs_content .btn-save {
    margin-bottom: 20px;
}

.tabs_content .btn-save .btn-view {
    margin-right: 10px;
}

.tabs_content .view-product-wall .wall {
    border: 1px solid #b9b9b9;
    padding: 20px;
    margin-bottom: 15px;
    background-color: #e2e2e266;
}

.tabs_content .view-product-wall h6 {
    display: inline-block;
    max-width: 100%;
    font-weight: 700;
    margin: 0;
    margin-bottom: 5px;
}

.tabs_content .view-product-wall .child-checkbox {
    margin-left: 15px;
}

.tabs_content .view-product-wall .bootstrap-tagsinput {
    width: 100%;
}

.tabs_content .tab_lang {
    border: none;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}
.tabs_content .tab_lang_horizontal{
    margin-bottom:10px;
}
.tabs_content .tab_lang li a {
    margin: 0;
    border-radius: 0;
    border: none;
}

.tabs_content .tab_lang li a.active, .tabs_content .tab_lang li a:hover,
.tabs_content .tab_lang li a:focus {
    border-radius: 0;
    border: none;
}
.tabs_content .tab_info.fade{
    display: none;
}
.tabs_content .tab_info.fade.in.active{
    display: block;
}

.setting_add_lang .help-block {
    font-weight: normal;
    font-size: 11px;
    margin-bottom: 0;
}

.settings_lang .box-header .box-tools {
    display: inline-block;
    width: auto;
    margin-top: 0;
}
.tabs_content .tab_seo .form-table{
    margin-bottom: 0;
    font-size: 14px;
    border-collapse: collapse;
    margin-top: .5em;
    width: 100%;
    clear: both;
}

.tabs_content .tab_seo .form-table th {
    width: 140px!important;
    font-size: 13px;
    vertical-align: top;
    text-align: left;
    padding: 20px 10px 20px 0;
    line-height: 1.3;
    font-weight: 600;
    color: #23282d;
    text-shadow: none;
}

.tabs_content .tab_seo label {
    vertical-align: middle;
    cursor: pointer;
}

.tabs_content .tab_seo img{
    cursor: pointer;
    float: right;
}
.tabs_content .tab_seo .form-table td {
    margin-bottom: 9px;
    padding: 15px 10px;
    line-height: 1.3;
    vertical-align: middle;
}
.tabs_content .tab_seo .form-table, .tabs_content .tab_seo .form-table td, .tabs_content .tab_seo .form-table td p, .tabs_content .tab_seo .form-table th, .tabs_content .tab_seo .form-wrap label {
    font-size: 14px;
}
.tabs_content .tab_seo input, .tabs_content .tab_seo select, .tabs_content .tab_seo textarea{
    margin: 1px;
    padding: 3px 5px;
    border: 1px solid #ddd;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    background-color: #fff;
    color: #32373c;
    outline: 0;
    font-size: 14px;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-transition: .05s border-color ease-in-out;
    transition: .05s border-color ease-in-out;
}
.tabs_content .tab_seo .form-table td p {
    margin-top: 4px;
    margin-bottom: 0;
    font-size: 14px;
}

.tabs_content .tab_seo code {
    padding: 3px 5px 2px;
    margin: 0 1px;
    background: #eaeaea;
    background: rgba(0,0,0,.07);
    font-size: 13px;
    color: #000;
}
.tabs_content .tab_seo textarea {
    overflow: auto;
    padding: 2px 6px;
    line-height: 1.4;
}

.tabs_content .tab_seo input[type=checkbox], .tabs_content .tab_seo input[type=radio] {
    border: 1px solid #b4b9be;
    background: #fff;
    color: #555;
    clear: none;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    height: 16px;
    margin: -4px 4px 0 0;
    outline: 0;
    padding: 0!important;
    text-align: center;
    vertical-align: middle;
    width: 16px;
    min-width: 16px;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    -webkit-transition: .05s border-color ease-in-out;
    transition: .05s border-color ease-in-out;
}
.tabs_content .tab_seo input[type=radio] {
    -webkit-border-radius: 50% !important;
    border-radius: 50% !important;
    margin-right: 4px !important;
    line-height: 10px !important;
}
.tabs_content .tab_seo .form-table input[type=radio] {
    margin-top: -4px !important;
    margin-right: 4px !important;
    float: none !important;
}
.tabs_content .tab_seo input[type=radio]:checked:before {
    content: '\2022';
    text-indent: -9999px;
    -webkit-border-radius: 50px !important;
    border-radius: 50px !important;
    font-size: 24px;
    width: 6px;
    height: 6px;
    margin: 4px;
    line-height: 16px;
    background-color: #1e8cbe;
}
.tabs_content .tab_seo input[type=checkbox]:checked:before, .tabs_content .tab_seo input[type=radio]:checked:before {
    float: left;
    display: inline-block;
    vertical-align: middle;
    font: 400 21px/1 dashicons;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}














