body.show-filter header .header-bottom, body.show-filter .top-filters {
    z-index: 11;
    position: relative;
    background: white;
}

body.show-filter .main-filters .reset-wrapper {
    display: block !important;
}

.dark-bg_body {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    overflow: hidden;
    opacity: .15;
}

.dark-bg_body.show {
    display: block;
    background: #000;
}

.nav-item.nav-item--has-dropdown:hover a > .arrow {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

@media screen and (min-width: 768px) {
    .nav-item.nav-item--has-dropdown:hover .nav-item--has-dropdown_dropdown {
        display: block;
    }
}

@media screen and (max-width: 767px) {
    .nav-item.nav-item--has-dropdown.active .nav-item--has-dropdown_dropdown {
        display: block;
    }
}

.nav-item--has-dropdown_dropdown {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    right: 0;
    z-index: 99;
    padding: 30px;
    background: rgba(255, 255, 255, 0.97);
    box-shadow: 4.5px 7.794px 12px 0 rgba(16, 16, 20, 0.3);
}

.nav-item--has-dropdown_dropdown.open {
    display: block;
}

.select_with-tag-wrapper .arrow-select {
    height: 42px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
    cursor: pointer;
}

@media screen and (max-width: 575px) {
    .select_with-tag-wrapper .arrow-select {
        right: 15px;
    }
}

.select_with-tag-wrapper .arrow-select b {
    border-color: #353535 transparent transparent transparent;
    border-style: solid;
    height: 0;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    border-width: 7px 4px 0 4px;
    top: auto;
    width: 0;
    bottom: 10px;
    left: auto;
    right: 12px;
}

.select_with-tag-wrapper .arrow-select:before {
    content: '';
    display: block;
    border-color: transparent transparent #353535 transparent;
    border-style: solid;
    border-width: 0 4px 7px 4px;
    height: 0;
    right: 12px;
    margin-left: -4px;
    position: absolute;
    top: 10px;
    width: 0;
}

.select_with-tag-wrapper .select-wall {
    width: 320px;
}

@media screen and (max-width: 767px) {
    .select_with-tag-wrapper .select-wall {
        width: 170px;
    }
}

@media screen and (max-width: 575px) {
    .select_with-tag-wrapper .select-wall {
        width: 100%;
    }
}

.select_with-tag-wrapper .select-wall select {
    width: 100%;
}

.select_with-tag-wrapper .select2.select2-container.select2-container--default {
    width: 100% !important;
}

.select_with-tag-wrapper .select2-container--default.select2-container--focus .select2-selection--multiple {
    height: 42px;
    border-color: #d7d7d7;
    border-radius: 0;
}

.select_with-tag-wrapper .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    height: 100%;
}

.select_with-tag-wrapper .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #edf0f5;
    border: none;
    border-radius: 0;
    padding: 4px 10px;
    font-size: 13px;
}

.select_with-tag-wrapper .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    float: right;
    margin-right: 0;
    margin-left: 14px;
    font-size: 20px;
    line-height: 1;
    color: #7c7c7c;
}

.select_with-tag-wrapper .select2-container--default .select2-selection--multiple {
    border-radius: 0;
    border-color: #d7d7d7;
}

.simple_select_wrapper .select2.select2-container.select2-container--default {
    width: 100% !important;
}

.simple_select_wrapper select {
    width: 100%;
}

.simple_select_wrapper .select-2.main-select + .select2-container--default .select2-selection--single {
    height: 42px;
    border-color: #d7d7d7;
}

.simple_select_wrapper .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 42px;
    font-size: 15px;
    color: #7c7c7c;
    padding-left: 18px;
}

header .header-top {
    background-color: #353535;
    z-index: 110;
    position: relative;
}

header .header-top .navbar {
    padding: 0;
}

header .header-top .navbar-nav .nav-item {
    margin-right: 44px;
    padding: .4rem 0;
}

header .header-top .navbar-nav .nav-item.nav-item--has-dropdown a {
    padding-right: 8px !important;
}

header .header-top .navbar-nav a {
    color: #ffffff !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

header .header-top .user-name {
    margin-left: 25px;
}

header .header-top .user-img img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

header .header-top .products-menu-item .single-product:hover h5 {
    text-decoration: underline;
}

header .header-top .products-menu-item .single-product:hover .product-more {
    display: block !important;
}

header .header-top .products-menu-item .single-product .product-photo img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

@media screen and (max-width: 992px) {
    header .header-top .products-menu-item .single-product .product-photo img {
        height: 140px;
    }
}

header .header-top .products-menu-item .single-product .product-content {
    padding: 30px 20px;
}

@media screen and (max-width: 992px) {
    header .header-top .products-menu-item .single-product .product-content {
        padding: 10px 0;
    }
}

header .header-top .products-menu-item .single-product .product-content .product-more {
    display: none;
}

header .header-top .products-menu-item .single-product .product-content .product-more a {
    color: #5184e5 !important;
}

header .header-top .products-menu-item .single-product .product-desc {
    margin-top: 20px;
}

header .header-bottom {
    padding: 15px 0;
}

@media screen and (max-width: 576px) {
    header .header-bottom .logo img {
        width: 100%;
    }
}

header .header-bottom .favorite-add-cart .add-links-wrap_favorite {
    margin-right: 50px;
}

@media screen and (max-width: 992px) {
    header .header-bottom .favorite-add-cart .add-links-wrap_favorite {
        margin-right: 25px;
    }
}

@media screen and (max-width: 767px) {
    header .header-bottom .favorite-add-cart .add-links-wrap_favorite {
        margin-right: 15px;
    }
}

@media screen and (max-width: 575px) {
    header .header-bottom .favorite-add-cart .add-links-wrap_favorite {
        margin-right: 5px;
    }
}

header .header-bottom .favorite-add-cart .add-links-wrap_favorite:not(.active) path {
    fill: transparent;
    stroke: #84819d;
    stroke-width: 2px;
}

header .header-bottom .cat-search {
    flex: auto;
    margin-left: 5px;
    margin-right: 5px;
}

@media screen and (min-width: 576px) {
    header .header-bottom .cat-search {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (min-width: 768px) {
    header .header-bottom .cat-search {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media screen and (min-width: 1200px) {
    header .header-bottom .cat-search {
        margin-left: 160px;
        margin-right: 180px;
    }
}

header .header-bottom .cat-search .search {
    flex: auto;
}

header .header-bottom .cat-search .search .form-control {
    height: 42px;
    border-radius: 0;
    border-color: #d7d7d7;
    font-size: 15px;
    box-shadow: none;
    color: #7c7c7c;
}

header .header-bottom .cat-search .search > span {
    right: 22px;
    top: 0;
    height: 100%;
}

@media screen and (max-width: 575px) {
    header .header-bottom .cat-search .search > span {
        right: 5px;
    }
}

header .header-bottom .cat-search .products-filter-wrap_select + .select2-container .select2-selection--single, header .header-bottom .cat-search .products-filter-wrap_select + .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 42px;
    border: none;
    background-color: #5184e5;
}

header .header-bottom .cat-search .products-filter-wrap_select + .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 42px;
    padding-left: 22px;
    color: #ffffff;
    text-transform: uppercase;
}

@media screen and (max-width: 575px) {
    header .header-bottom .cat-search .products-filter-wrap_select + .select2-container--default .select2-selection--single .select2-selection__rendered {
        padding-left: 15px;
    }
}

header .header-bottom .cat-search .main-select-2arrows + .select2-container--default .select2-selection--single .select2-selection__arrow:before {
    border-color: transparent transparent rgba(255, 255, 255, 0.7) transparent;
}

header .header-bottom .cat-search .main-select-2arrows + .select2-container--default .select2-selection--single .select2-selection__arrow b, header .header-bottom .cat-search .main-select-2arrows + .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: rgba(255, 255, 255, 0.7) transparent transparent transparent;
}

header .header-bottom .cat-search .select-2.main-select + .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 41px;
}

header .header-bottom .cat-search .select2.select2-container.select2-container--default {
    width: 230px !important;
}

@media screen and (max-width: 1200px) {
    header .header-bottom .cat-search .select2.select2-container.select2-container--default {
        width: 120px !important;
    }
}


footer .footer-top {
    background-color: #e3e6ed;
    padding: 41px 0;
}

footer .footer-top .footer-menu-subscribe .footer-menu .menus h5 {
    margin-bottom: 45px;
    letter-spacing: 1px;
}

footer .footer-top .footer-menu-subscribe .footer-menu .menus a {
    color: #7c7c7c;
}

footer .footer-top .footer-menu-subscribe .footer-menu .menus ul li:not(:last-of-type) {
    margin-bottom: 16px;
}

footer .footer-top .footer-menu-subscribe .footer-subscribe {
    max-width: 611px;
    margin-top: 65px;
}

footer .footer-top .footer-menu-subscribe .footer-subscribe > div {
    background-color: #ffffff;
}

footer .footer-top .footer-menu-subscribe .footer-subscribe > div label {
    letter-spacing: 2px;
    margin-left: 15px;
    margin-right: 5px;
}

footer .footer-top .footer-menu-subscribe .footer-subscribe > div .form-control {
    height: 42px;
    border: none;
    box-shadow: none;
}

footer .footer-top .footer-menu-subscribe .footer-subscribe .arrow {
    right: 15px;
}

footer .footer-top .footer-info .footer-logo {
    margin-bottom: 58px;
}

footer .footer-top .footer-info .footer-desc {
    color: #7c7c7c;
}

footer .footer-top .footer-info .footer-payment {
    padding: 23px 0 45px 0;
}

footer .footer-top .footer-info .footer-payment img {
    margin-left: 20px;
}

footer .footer-top .footer-info .footer-social li {
    margin-left: 20px;
    margin-bottom: 4px;
}

footer .footer-top .footer-info .footer-social li a {
    width: 30px;
    height: 30px;
    border: 1px solid #7c7c7c;
    color: #7c7c7c;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}

footer .footer-top .footer-info .footer-social li.active a, footer .footer-top .footer-info .footer-social li:hover a {
    background-color: #7c7c7c;
    color: #ffffff;
}

footer .footer-bottom {
    padding: 14px 0;
}

@media screen and (max-width: 576px) {
    footer .footer-bottom {
        padding: 6px 0;
        font-size: 10px;
    }
}

footer .footer-bottom .footer_select-lang > label {
    color: #838383;
}

footer .footer-bottom .footer_select-lang .select-2.main-select + .select2-container--default .select2-selection--single {
    border: none;
    height: 42px;
    font-family: 'Roboto-Medium', sans-serif;
}

footer .footer-bottom .footer_select-lang .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 42px;
}

footer .footer-bottom .footer_select-lang .main-select-2arrows + .select2-container--default .select2-selection--single .select2-selection__arrow:before {
    border-color: transparent transparent #7c7c7c transparent;
}

footer .footer-bottom .footer_select-lang .main-select-2arrows + .select2-container--default .select2-selection--single .select2-selection__arrow b, footer .footer-bottom .footer_select-lang .main-select-2arrows + .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: #7c7c7c transparent transparent transparent;
}

.products-page .main-select-2arrows.arrow-dark + .select2-container--default .select2-selection--single .select2-selection__arrow:before {
    border-color: transparent transparent #353535 transparent;
}

.products-page .main-select-2arrows.arrow-dark + .select2-container--default .select2-selection--single .select2-selection__arrow b, .products-page .main-select-2arrows.arrow-dark + .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: #353535 transparent transparent transparent;
}

.products-page .top-filters {
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
}

.products-page .top-filters .category-select {
    width: 120px;
    padding: 12px 0;
}

@media screen and (min-width: 1200px) {
    .products-page .top-filters .category-select {
        width: 198px;
    }
}

.products-page .top-filters .category-select select {
    width: 100%;
}

.products-page .top-filters .category-select .select-2.main-select + .select2-container--default .select2-selection--single {
    height: 42px;
    border: none;
}

.products-page .top-filters .category-select .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 42px;
    color: #5185e5;
    font-size: 24px;
    font-family: 'Oswald-Medium', sans-serif;
    padding: 0;
    text-transform: uppercase;
}

.products-page .top-filters .main-filters {
    flex: auto;
    border-right: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7;
    padding: 12px 0;
}

@media screen and (max-width: 991px) {
    .products-page .top-filters .main-filters {
        position: absolute;
        top: 100%;
        background: #ffffff;
        z-index: 100;
        width: 100%;
        box-shadow: 2px 4px 4px #d7d7d7;
        border-top: 1px solid #d7d7d7;
    }
}

@media screen and (max-width: 575px) {
    .products-page .top-filters .main-filters {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 991px) {
    .products-page .top-filters .main-filters.closed-mobile {
        display: none !important;
    }
}

@media screen and (max-width: 575px) {
    .products-page .top-filters .main-filters .brand_select {
        width: 100%;
        margin-right: 15px;
    }
}

.products-page .top-filters .main-filters .brand_select > label {
    padding: 0 26px;
}

@media screen and (max-width: 991px) {
    .products-page .top-filters .main-filters .brand_select > label {
        padding: 0 15px;
    }
}

.products-page .top-filters .main-filters .slider-range {
    max-width: 375px;
    width: 100%;
    margin-left: 20px;
}

@media screen and (max-width: 991px) {
    .products-page .top-filters .main-filters .slider-range {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media screen and (min-width: 1200px) {
    .products-page .top-filters .main-filters .slider-range {
        margin-left: 50px;
    }
}

@media screen and (max-width: 575px) {
    .products-page .top-filters .main-filters .slider-range {
        max-width: 100%;
    }
}

.products-page .top-filters .main-filters .slider-range .ui-widget.ui-widget-content {
    background-color: #e3e6ed;
    border-radius: 0;
    height: 2px;
    border: none;
}

.products-page .top-filters .main-filters .slider-range .ui-state-default, .products-page .top-filters .main-filters .slider-range .ui-widget-content .ui-state-default {
    width: 18px;
    height: 18px;
    border-radius: 0;
    background-color: #5184e5;
    border: none;
    top: -.6em;
    cursor: pointer;
}

.products-page .top-filters .main-filters .slider-range .ui-widget-header {
    background: #b2cdff;
}

.products-page .top-filters .main-filters .slider-range .ui-widget-content .ui-state-active, .products-page .top-filters .main-filters .slider-range .ui-widget-content .ui-state-hover {
    width: 25px;
    height: 25px;
    top: -.8em;
}

.products-page .top-filters .main-filters .slider-range .ui-widget-content .ui-state-active:after, .products-page .top-filters .main-filters .slider-range .ui-widget-content .ui-state-hover:after {
    content: "";
    background: url("../img/arrow-for-range.svg");
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    display: block;
}

.products-page .top-filters .main-filters .reset-wrapper {
    flex: auto;
    text-align: right;
    margin-right: 28px;
    display: none;
    margin-left: 8px;
}

.products-page .top-filters .arrow-wrap {
    padding-left: 30px;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}

.products-page .top-filters .arrow-wrap .nav-item--has-dropdown_dropdown {
    margin-top: 1px;
}

.products-page .top-filters .arrow-wrap .arrow.opened {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.products-page .top-filters .all-filters h5 {
    margin-bottom: 30px;
}

@media screen and (min-width: 576px) {
    .products-page .top-filters .all-filters .filter-left-col {
        padding-right: 50px;
    }
}

.products-page .top-filters .all-filters .filter-wall .select_with-tag-wrapper select {
    width: 100%;
}

.products-page .top-filters .all-filters .filter-wall.cat-filter .form-group {
    margin-bottom: 30px;
}

.products-page .top-filters .all-filters .filter-wall.cat-name .single-wrap {
    margin-bottom: 18px;
}

.products-page .top-filters .all-filters .filter-wall.cat-name .single-wrap .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
}

.products-page .top-filters .all-filters .filter-wall.cat-name .single-wrap .custom-control-inline {
    margin-right: 0;
    padding-left: 0;
}

.products-page .top-filters .all-filters .filter-wall.cat-name .single-wrap .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-size: 12px;
    opacity: .8;
}

.products-page .top-filters .all-filters .filter-wall.cat-name .single-wrap .custom-control-label::before {
    width: 20px;
    height: 20px;
    border-radius: 0;
    left: -2.5rem;
    border: 1px solid #d7d7d7;
    background: #fff;
}

.products-page .top-filters .all-filters .filter-wall.cat-name .single-wrap .custom-control-label::after {
    width: 20px;
    height: 20px;
    left: -2.5rem;
}

.products-page .top-filters .all-filters .filter-wall.cat-name .single-wrap .custom-control-label {
    cursor: pointer;
    line-height: 25px;
    margin-left: 40px;
}

.products-page .top-filters .all-filters .filter-wall.cat-name .single-wrap .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #5184e5;
    left: -2.5rem;
}

.products-page .top-filters .all-filters .filter-wall.cat-name .single-wrap .custom-checkbox .amount {
    margin-left: 10px;
}

.products-page .top-filters .all-filters .filter-wall.cat-name .single-wrap .custom-checkbox .custom-control-input:checked ~ .custom-control-label {
    color: #353535;
}

.products-page .top-filters .all-filters .filter-wall.colors .single-wall {
    padding: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

.products-page .top-filters .all-filters .filter-wall.colors .cl-blue .custom-control-label::before {
    background-color: #5184e5;
}

.products-page .top-filters .all-filters .filter-wall.colors .cl-purple .custom-control-label::before {
    background-color: #9643f3;
}

.products-page .top-filters .all-filters .filter-wall.colors .cl-red .custom-control-label::before {
    background-color: #cf142b;
}

.products-page .top-filters .all-filters .filter-wall.colors .cl-orange .custom-control-label::before {
    background-color: #ff9703;
}

.products-page .top-filters .all-filters .filter-wall.colors .cl-dark-green .custom-control-label::before {
    background-color: #38760b;
}

.products-page .top-filters .all-filters .filter-wall.colors .cl-dark-gray .custom-control-label::before {
    background-color: #6d6d6d;
}

.products-page .top-filters .all-filters .filter-wall.colors .cl-gray .custom-control-label::before {
    background-color: #edeff4;
}

.products-page .top-filters .all-filters .filter-wall.colors .cl-yellow .custom-control-label::before {
    background-color: #ffe536;
}

.products-page .top-filters .all-filters .filter-wall.colors .cl-pink .custom-control-label::before {
    background-color: #ff87c8;
}

.products-page .top-filters .all-filters .filter-wall.colors .cl-green .custom-control-label::before {
    background-color: #51e57e;
}

.products-page .top-filters .all-filters .filter-wall.colors .cl-white .custom-control-label::before {
    background-color: #ffffff;
}

.products-page .top-filters .all-filters .filter-wall.colors .cl-black .custom-control-label::before {
    background-color: #21213b;
}

.products-page .top-filters .all-filters .filter-wall.colors .custom-control {
    min-height: 4rem;
    margin-bottom: 25px;
}

.products-page .top-filters .all-filters .filter-wall.colors .custom-control-label {
    top: 42px;
}

.products-page .top-filters .all-filters .filter-wall.colors .custom-control-label::before {
    width: 36px;
    height: 36px;
    top: -42px;
    left: 0;
    right: 0;
    border-radius: 0;
    border: 1px solid #d7d7d7;
}

.products-page .top-filters .all-filters .filter-wall.colors .custom-control-label::after {
    width: 40px;
    height: 40px;
    top: -44px;
    left: -2px;
    right: 0;
}

.products-page .top-filters .all-filters .filter-wall.colors .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
}

.products-page .top-filters .all-filters .filter-wall.colors .custom-control-inline {
    padding: 0;
    margin-right: 0;
    min-width: 36px;
}

.products-page .top-filters .all-filters .filter-wall.colors .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    background: none;
    border: 3px solid #d7d7d7;
}

.products-page .top-filters .filters-for-mobile {
    display: none;
    flex: auto;
    border-right: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7;
}

.products-page .top-filters .filters-for-mobile .btn--filter {
    box-shadow: 0 0 4px #c2c2c2;
    border-radius: 0;
}

@media screen and (max-width: 991px) {
    .products-page .top-filters .filters-for-mobile {
        display: block;
    }
}

.products-page .main-content-wrapper .content-head {
    padding: 28px 0;
}

@media screen and (max-width: 991px) {
    .products-page .main-content-wrapper .content-head .left-head {
        width: 100%;
    }
}

.products-page .main-content-wrapper .content-head .left-head .page-back {
    margin-right: 20px;
}

.products-page .main-content-wrapper .content-head .right-head {
    flex: auto;
}

.products-page .main-content-wrapper .content-head .right-head .sort-by_select {
    width: 100%;
    border: 1px solid #d7d7d7;
    max-width: 290px;
    margin-left: 30px;
}

@media screen and (max-width: 767px) {
    .products-page .main-content-wrapper .content-head .right-head .sort-by_select {
        max-width: 190px;
        margin-left: 15px;
    }
}

@media screen and (max-width: 575px) {
    .products-page .main-content-wrapper .content-head .right-head .sort-by_select {
        max-width: 170px;
        margin-left: 0;
    }
}

@media screen and (max-width: 350px) {
    .products-page .main-content-wrapper .content-head .right-head .sort-by_select {
        max-width: 100%;
        margin-top: 8px;
    }
}

.products-page .main-content-wrapper .content-head .right-head .sort-by_select > label {
    margin-left: 20px;
    white-space: nowrap;
    color: #7c7c7c;
}

.products-page .main-content-wrapper .content-head .right-head .sort-by_select .select-wall {
    width: 100%;
}

.products-page .main-content-wrapper .content-head .right-head .sort-by_select .select-wall .select2.select2-container.select2-container--default.select2-container--below {
    width: 100%;
}

.products-page .main-content-wrapper .content-head .right-head .sort-by_select .select-wall .select-2.main-select + .select2-container--default .select2-selection--single {
    height: 42px;
    border: none;
}

.products-page .main-content-wrapper .content-head .right-head .sort-by_select .select-wall .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 42px;
    padding-left: 5px;
    color: #353535;
    text-transform: uppercase;
}

.products-page .main-content-wrapper .content-head .right-head .sale-only > span {
    margin-right: 20px;
}

.products-page .main-content-wrapper .content-head .right-head .product-grid-list {
    margin-left: 78px;
}

.products-page .main-content-wrapper .content-head .right-head .product-grid-list .display-icon {
    margin-left: 22px;
}

.products-page .main-content-wrapper .content-head .right-head .product-grid-list .display-icon.active svg path {
    fill: #5184e5;
}

.breadcrumbs-page .breadcrumb {
    margin-bottom: 0;
    background: none;
    padding: 0;
}

.breadcrumbs-page .breadcrumb-item {
    line-height: 1;
    padding-left: .3rem;
}

.breadcrumbs-page .breadcrumb-item a {
    color: #7c7c7c;
}

.breadcrumbs-page .breadcrumb-item.active {
    color: #353535;
}

.breadcrumbs-page .breadcrumb-item.active:after {
    background: #353535;
}

.breadcrumbs-page .breadcrumb-item:after {
    content: "";
    width: 100%;
    height: 1px;
    margin-top: 1px;
    background: #7c7c7c;
    display: block;
}

.breadcrumbs-page .breadcrumb-item + .breadcrumb-item::after {
    width: calc(100% - .8em);
    float: right;
}

.breadcrumbs-page .breadcrumb-item + .breadcrumb-item::before {
    padding-right: .3rem;
}

/* The switch - the box around the slider */
.switch-custom {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 8px;
    margin-bottom: 0;
}

.switch-custom input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-custom .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch-custom .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 0;
    bottom: -5px;
    background-color: #919191;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch-custom input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
    background: #5184e5;
}

.switch-custom .slider.round {
    border-radius: 34px;
}

.switch-custom .slider.round:before {
    border-radius: 50%;
}

@media (min-width: 1660px) {
    .nav-item--has-dropdown_dropdown {
        margin-right: -30px;
        margin-left: -30px;
    }
}

@media (max-width: 767px) {
    .header-top .main-max-width {
        max-width: 100%;
        padding: 0;
    }

    .header-top .navbar-toggler {
        margin-left: 15px;
    }

    .header-top nav .form-inline {
        margin-right: 15px;
    }

    .header-top .navbar-collapse {
        background-color: rgba(0, 0, 0, 0.82);
        border-top: 1px solid white;
        position: absolute;
        top: 100%;
        width: 100%;
    }

    .header-top .navbar-collapse ul.navbar-nav {
        padding-left: 15px;
    }

    .header-top .navbar-collapse ul.navbar-nav .nav-item {
        border-bottom: 1px solid #ffffff5e;
        margin-right: 15px;
    }

    .header-top .navbar-collapse ul.navbar-nav .nav-item--has-dropdown_dropdown {
        position: static;
    }

    .header-top .navbar-collapse ul.navbar-nav .nav-item--has-dropdown {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
@media screen and (max-width: 991px) {
    header .header-bottom .header-bottom-wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    header .header-bottom .header-bottom-wrapper .favorite-add-cart{
        -ms-flex-order: 2;
        order: 2;
    }
    header .header-bottom .header-bottom-wrapper .logo{
        -ms-flex-order: 1;
        order: 1;
    }
    header .header-bottom .header-bottom-wrapper .cat-search{
        width: 100%;
        -ms-flex-order: 3;
        order: 3;
        margin: 5px 0 0;
    }
    .products-page .top-filters .main-filters .reset-wrapper{
        margin-right: 0;
    }
}

@media screen and (max-width: 575px) {
    .products-page .top-filters .main-filters .reset-wrapper{
        margin-right: 0;
    }
}

/*# sourceMappingURL=products.css.map */
